* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(150deg, #c27f84b9, #f5edebfd);
    color: rgba(112, 107, 107, 0.484);
    font-family: fantasy;
    min-height: 100vh;

}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    /* これを入れることでpositioningで簡単な技が使えるようになる */
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    font-family: serif;
}

form button {
    color: rgba(0, 0, 0, 0.492);
    background: white;
    cursor: url('../assets/icons8-hand-cursor-34.png'), pointer;
}

form button:hover {
    background: #fda085;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 35%;
    list-style: none;
}

.todo {
    margin: 0.8rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    font-family: serif;
    color: rgba(35, 33, 33, 0.854);
}


.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn,
.console-btn {
    background: #b2563c9d;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #13822381;
}

.console-btn {
    background: #3132328a;
}

.trash-btn:hover {
    background: #b2563c;

}

.complete-btn:hover {
    background: #138224;
}

.console-btn:hover {
    background: #313232;

}

.todo-item {
    padding: 0rem 0.5rem;
}

.edit-todo {
    border: none;
    font-family: serif;
    width: 100%;
}

.fa-trash,
.fa-check,
.fa-cog {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translate(8rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: rgba(35, 33, 33, 0.854);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-family: serif;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #0b4f7daa;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3 ease;
}

.select:hover::after {
    background: white;
    color: #0b4f7daa;
    ;
}